  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
   width: 600px;
  margin: 0 auto;
}

/* Full-width inputs */
input[type=text], input[type=password]
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.button-container {
    display:flex;
    justify-content:space-between;
    width:100%;
}



/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 20%;
  padding: 10px 18px;
  background-color: #4CAF50;;
  color:white;
  text-decoration:none;
  text-align: center;
  margin:0 auto;


}
/* Add padding to containers */
.container {
  padding: 16px;
}
.signupbtn  {
    width: auto;
    padding: 10px 18px;
    background-color: #008CBA;;
    color:white;
    text-decoration:none;
    text-align: center;
    display: block;
    font-weight: bold;
    border-radius: 5px;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

label {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
input,select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
label.check_input div {
    display: flex;
    justify-content: space-between;
}
label.check_input div input[type="checkbox"] {
    width: auto;
    margin:0;
}
label.check_input div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

/* Home */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 29;
}

.navbar {
    background-color: #007BFF;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0056b3;
}

.centered-title {
    text-align: center;

}
.centered-title a {
    font-size: 16px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    display:inline-block;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 14px 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
